<app-header></app-header>

<div class="container" style="padding: 1em">
    <h1 class="my-3 text-primary">Cadastro de Produtos PetShopBand</h1>
    <div class="card shadow">
        <form class="m-3">
            
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="datavalidade">Data de Validade</label>
                        <input type="date" 
                        class="form-control" 
                        name="validade" [(ngModel)]="produto.dataValidade">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="nomeP">Nome do Produto</label>
                        <input type="text" class="form-control" 
                        placeholder="Digite o nome do Produto" 
                        name="nome" [(ngModel)]="produto.nomeProduto">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="fabricanteP">Nome do fabricante</label>
                        <input type="text" class="form-control" 
                        placeholder="Digite o nome do fabricante"
                        name="fabricante" [(ngModel)]="produto.fabricanteProduto">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="quantidadeP">Quantidade</label>
                        <input type="number" class="form-control" 
                        placeholder="0.00"
                        name="quantidade" [(ngModel)]="produto.quantidadeProduto">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="descricaoP">Descrição</label>
                        <input type="text" class="form-control" 
                        placeholder="Digite a descrição do produto"  
                        name="descricao" [(ngModel)]="produto.descricaoProduto">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="descricao">Valor de Custo</label>
                        <input type="number" class="form-control" 
                        placeholder="0.00"
                        name="valorCusto" [(ngModel)]="produto.custoProduto">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="descricao">Valor de Venda</label>
                        <input type="number" class="form-control"
                        placeholder="0.00"
                        name="valorVenda" [(ngModel)]="produto.precoProduto">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="descricao">Promoção</label>
                        <input type="boolean" class="form-control"                        
                        name="promocao" [(ngModel)]="produto.promocao">
                    </div>
                </div>
            </div>

            <br>
            
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-primary" routerLink="/produtos">
                        Voltar
                    </button>                    
                </div>
                <div class="col-md-6">
                    <button class="btn btn-success" (click)="salvarProdutoPost()">
                        salvar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


<app-footer></app-footer>

