
<div *ngFor="let item of produtoArray">
    <div class=" navbar-header">     
        <h4> Seja Bem-Vindo ao PetShopBand ! </h4>
        <p> Temos tudo o que o seu pet precisa pra ser feliz! </p>
    </div>

    <div class="col justify-content-center " style="display:flex; justify-content:center; padding: 10px" >
       
        <div class="card" style="width:18em">
            
            <img [src]="item.foto" alt="..." class="card-img-top">
            
            <div class="card-body">
                <h5 class="card-title">
                    {{ item.nomeProduto | uppercase}} <!--Uso do pipe do angular-->
                    <span *ngIf="promocao; else elseBlock" class="badge badge-success" >Promoção</span>
                    <ng-template #elseBlock>
                        <span class="badge badge-primary">Aproveite</span>
                    </ng-template>
                </h5>
                <p class="card-text">
                    Identificação: {{ item.id | number: '5.0-0'}}
                    Validade: {{ item.dataValidade | date: 'dd/MM/yyyy'}}
                </p>  <!-- Pipe angular // | number: '5.0-32'-->
                <a href="#" class="btn btn-primary float-right"> {{ item.precoProduto | currency: 'BRL'}}</a> <!-- Pipe angular // :'symbol': '1.2-3' -->
            </div>
        </div>        
    </div>

</div>
