<app-header></app-header>

<div class="container" style="padding: 1em">
    <h1 class="my-3 text-primary">Cadastar Fornecedores PetShopBand</h1>
    <div class="card shadow">
        <form class="m-3">
            
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="datavalidade">Nome do fornecedor</label>
                        <input type="text" 
                        class="form-control" 
                        id="nomefornecedores"
                        name="nome-fornecedores" [(ngModel)]="fornecedor.nomeFornecedores">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="nome">E-mail do fornecedor</label>
                        <input type="text" 
                        class="form-control"
                        id="emailfornecedores"
                        name="email-fornecedores" [(ngModel)]="fornecedor.emailFornecedores">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="fabricante">Telefone do fornecedor</label>
                        <input type="text" class="form-control" 
                        id="telefonefornecedores"
                        name="telefone-fornecedores" [(ngModel)]="fornecedor.telefonefornecedores">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="descricao">CNPJ</label>
                        <input type="text" class="form-control" 
                        id="cnpjfornecedor" 
                        name="cnpj-fornecedor" [(ngModel)]="fornecedor.cnpjFornecedores">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="descricao">Data de cadastro no sistema</label>
                        <input type="date" class="form-control" id="datacadastro" 
                        placeholder="0.00"
                        name="data-cadastro" [(ngModel)]="fornecedor.dataCadastroSistema">
                    </div>
                </div>
            </div>

            <br>
            
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-primary" routerLink="/fornecedores">
                        Voltar
                    </button>                    
                </div>
                <div class="col-md-6">
                    <button class="btn btn-success" (click)="cadastrar()">
                        salvar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


<app-footer></app-footer>