<app-header></app-header>


<div class="container" style="padding: 1em">
    <h1 class="my-3 text-primary">
        Lista de Produtos PetShopBand
        <button type="button" class="btn btn-success mt-2 float-rigth align-text-top"
        routerLink="/produtos/cadastrar-produto"
        >Cadastrar</button>
    </h1>
    
    <div class="card shadow">
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>Id Produto</th>
                    <th>Nome</th>
                    <th>Fabricante</th>
                    <th>Quantidade</th>
                    <th>Data Validade</th>                    
                    <th>Descrição</th>
                    <th>Valor Custo</th>
                    <th>Valor Venda</th>
                    <th>Promoção</th>
                    <th>Editar/Deletar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let prod of listaProdutos">
                    <td>{{ prod.idProduto }}</td>                    
                    <td>{{ prod.nomeProduto }}</td>
                    <td>{{ prod.fabricanteProduto }}</td>
                    <td>{{ prod.quantidadeProduto }}</td>
                    <td>{{ prod.dataValidade | date: "shortDate" }}</td>
                    <td>{{ prod.descricaoProduto }}</td>
                    <td>{{ prod.custoProduto | currency: "BRL" }}</td>
                    <td>{{ prod.precoProduto | currency: "BRL" }}</td>  
                    <td>{{ prod.promocao }}</td>  
                    <td>
                        <button type="button" class="btn btn-warning">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-danger ml-2" style="margin-left: 3px;">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                    </td>    
                </tr>               
            </tbody>
        </table>
    </div>
</div>


<app-footer></app-footer>