<app-header></app-header>

<h1 class="my-3 text-primary">

    Lista de Produtos PetShopBand

    <div class="position-relative">
        <button type="button" class="btn btn-success mt-2 ">Cadastrar</button>
    </div>

</h1>

<div class="card shadow">

    <table class="table-responsive table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Fabricante</th>
                <th>Data Validade</th>
                <th>Descrição</th>
                <th>Valor Custo</th>
                <th>Valor Venda</th>
            </tr>
        </thead>
    </table>


</div>

<app-footer></app-footer>