<app-header></app-header>

<div class="container" style="padding: 1em">
    <h1 class="my-3 text-primary">Cadastar Clientes PetShopBand</h1>
    <div class="card shadow">
        <form class="m-3">
            
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="datavalidade">Nome do Cliente</label>
                        <input type="text" 
                        class="form-control" 
                        id="nomeCliente"
                        name="nome-cliente" [(ngModel)]="cliente.nomeCliente">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="nome">Endereço do Cliente</label>
                        <input type="text" class="form-control" 
                        placeholder="Digite o endereço do cliente" 
                        id="enderecoCliente"
                        name="endereco-cliente" [(ngModel)]="cliente.enderecoCliente">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="fabricante">E-mail</label>
                        <input type="text" class="form-control" 
                        placeholder="Digite o E-mail" id="emailCliente"
                        name="email-cliente" [(ngModel)]="cliente.emailCliente">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="descricao">Telefone</label>
                        <input type="text" class="form-control" 
                        placeholder="Digite o telefone" id="telefoneCliente" 
                        name="telefone-cliente" [(ngModel)]="cliente.telefoneCliente">
                    </div>
                </div>
            </div>

            <br>
            
            <div class="row">
                <div class="col-md-1">
                    <button class="btn btn-primary" routerLink="/clientes">
                        Voltar
                    </button>                    
                </div>

                <div class="col-md-1">
                    <button class="btn btn-success" (click)="cadastrarClientesPost()">
                        salvar
                    </button>
                </div>

                <div class="col-md-1">
                    <button class="btn btn-warning" (click)="cadastrarClientesPut()">
                        atualizar
                    </button>                    
                </div>
            </div>
        </form>
    </div>
</div>

<app-footer></app-footer>